# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Compiled class files
*.class

# Log files
*.log

# IDE - Visual Studio Code
.vscode/

# IDE - IntelliJ IDEA
.idea/
*.iml

# IDE - Eclipse
.classpath
.project
.settings/

# Operating system files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp